/doc
/build

*.pdf
*.png

slides
slides.aux
slides.fdb_latexmk
slides.fls
slides.log
slides.nav
slides.out
slides.snm
slides.synctex.gz
slides.toc
slides.run.xml
slides.bbl
slides.bcf
slides.tex
report.aux
report.fdb_latexmk
report.fls
report.log
report.synctex.gz
report.toc

.venv

test.ipynb
plotting.ipynb